<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag 'card[name]', 'Name' %><br />
    <%= text_field_tag 'card[name]' %>
  </div>
  <div class="field">
    <%= label_tag 'card[strength]', 'Strength' %><br />
    <%= number_field_tag 'card[strength]' %>
  </div>
  <div class="field">
    <%= label_tag 'deck_id', 'Deck' %><br />
    <%= select_tag 'deck_id',  options_for_select(@decks.map{|deck| [deck.name, deck.id]})%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
