<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @card.name %>
</p>

<p>
  <b>Strength:</b>
  <%= @card.strength %>
</p>

<p>
  <b>Deck:</b>
  <%= @card.deck_id %>
</p>


<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
